<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Event</title>
</head>
<body>
    <h1>Register Event</h1>
    <form method="post" action="">
        Name: <input type="text" value="" name="name">
        Local: <input type="text" value="" name="place">
        Date: <input type="date" value="" name="date">
        Time: <input type="text" value="" name="time">

        <button type="submit">Save</button>
    </form>
</body>
</html>